.top {
  padding-top: 100px;
  padding-bottom: 100px;
}

#janiepic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

.name {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 40px;
}

h1 #lastname {
  color: #B8B8B8;
  font-weight: 300;
}

div .description {
  padding-left: 40px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.top p {
  color: #666666;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  margin: 0px 0px 14px;
}

img {
  width: 100%;
  max-width: 255px;
  min-width: 205px;
}

div .experience {
  margin-left: 50px;
}

.table {
  font-size: 12px;
}

.experience h3 {
  margin-left: 8px;
}

.table > tbody > tr > td {
  padding-bottom: 20px;
  color: #2A2A2A;
}

.icons {
  text-align: right;
}

.icons a {
  padding: 3px;
  font-size: 18px;
}
